In [4]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#read all hidden null values and empty cells

missing_value = ['N/a','na', np.nan]
afp = pd.read_csv('Africa Food Production (2004 - 2013).csv')
afs = pd.read_csv('Africa Food Supply (2004 - 2013).csv')

In [6]:
afp.head()

   Country                Item  Year  Value
0  Algeria  Wheat and products  2004   2731
1  Algeria  Wheat and products  2005   2415
2  Algeria  Wheat and products  2006   2688
3  Algeria  Wheat and products  2007   2319
4  Algeria  Wheat and products  2008   1111

In [7]:
afs.head()

   Country  Year  Value
0  Algeria  2004   2987
1  Algeria  2005   2958
2  Algeria  2006   3047
3  Algeria  2007   3041
4  Algeria  2008   3048

In [8]:
afp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23110 entries, 0 to 23109
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  23110 non-null  object
 1   Item     23110 non-null  object
 2   Year     23110 non-null  int64
 3   Value    23110 non-null  int64
dtypes: int64(2), object(2)
memory usage: 722.3+ KB

In [9]:
afs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  450 non-null    object
 1   Year     450 non-null    int64
 2   Value    450 non-null    int64
dtypes: int64(2), object(1)
memory usage: 10.7+ KB

In [11]:
afp['Country'].value_counts()

United Republic of Tanzania    790
Morocco                        770
South Africa                   750
Kenya                          750
Egypt                          700
Madagascar                     690
Cameroon                       650
Cote d'Ivoire                  640
Zimbabwe                       640
Mozambique                     620
Tunisia                        610
Nigeria                        610
Ethiopia                       600
Benin                          590
Algeria                        580
Ghana                          580
Uganda                         560
Togo                           560
Angola                         540
Sudan                          540
Senegal                        520
Sierra Leone                   500
Congo                          500
Guinea                         500
Malawi                         480
Zambia                         480
Mali                           480
Rwanda                         460
Mauritius                      460
Central African Republic       450
Guinea-Bissau                  440
Burkina Faso                   430
Niger                          430
Namibia                        430
Liberia                        420
Swaziland                      420
Gabon                          400
Chad                           390
Mauritania                     380
Gambia                         360
Botswana                       340
Cabo Verde                     330
Sao Tome and Principe          290
Lesotho                        230
Djibouti                       220
Name: Country, dtype: int64

In [12]:
afs['Country'].value_counts()

Algeria                        10
Malawi                         10
Mauritania                     10
Mauritius                      10
Morocco                        10
Mozambique                     10
Namibia                        10
Niger                          10
Nigeria                        10
Rwanda                         10
Sao Tome and Principe          10
Senegal                        10
Sierra Leone                   10
South Africa                   10
Sudan                          10
Swaziland                      10
Togo                           10
Tunisia                        10
Uganda                         10
United Republic of Tanzania    10
Zambia                         10
Mali                           10
Madagascar                     10
Angola                         10
Liberia                        10
Benin                          10
Botswana                       10
Burkina Faso                   10
Cabo Verde                     10
Cameroon                       10
Central African Republic       10
Chad                           10
Congo                          10
Cote d'Ivoire                  10
Djibouti                       10
Egypt                          10
Ethiopia                       10
Gabon                          10
Gambia                         10
Ghana                          10
Guinea                         10
Guinea-Bissau                  10
Kenya                          10
Lesotho                        10
Zimbabwe                       10
Name: Country, dtype: int64

In [21]:
#a bar plot to know the Country with the highest production

plt.bar(('Country'),('Value').sum())
plt.ylabel('Sum Values')
plt.xlabel('Country')
plt.show()

AttributeError: 'str' object has no attribute 'sum'